<p>イベント名</p>

        <input
            type="text"
            name="title"
            required
        >

        <p>PDFリンク</p>

        <input
            type="url"
            name="pdf_link"
            required
        >

        <p>参加人数上限</p>

        <input
            type="number"
            name="max_participants"
            min="1"
            required
        >

        <p>応募締切日時</p>

        <input
            type="datetime-local"
            name="deadline"
            required
        >

        <br><br>

        <button type="submit">
            イベント作成
        </button>

    </form>

</body>

</html>