<!DOCTYPE html>
<html>
<head>
    <title>登録</title>
</head>
<body>

<h1>ユーザー登録</h1>

<form action="/register" method="post">

    <input type="text" name="username" placeholder="ID">

    <input type="password" name="password" placeholder="パスワード">

    <input type="password" name="password_confirm"placeholder="パスワード確認">

    <button type="submit">登録</button>

</form>

<h1>ログイン</h1>

<form action="/login" method="post">

    <input type="text" name="username" placeholder="ID">

    <input type="password" name="password" placeholder="パスワード">

    <button type="submit">ログイン</button>

</form>

</body>
</html>