<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>登録・ログイン</title>
</head>

<body>

<h1>ユーザー登録</h1>

<form action="/register" method="post">

    <input
        type="hidden"
        name="csrf_token"
        value="{{ csrf_token() }}"
    >

    <input
        type="text"
        name="username"
        placeholder="ID"
        required
    >

    <input
        type="password"
        name="password"
        placeholder="パスワード"
        required
    >

    <input
        type="password"
        name="password_confirm"
        placeholder="パスワード確認"
        required
    >

    <button type="submit">
        登録
    </button>

</form>

<hr>

<h1>ログイン</h1>

<form action="/login" method="post">

    <input
        type="hidden"
        name="csrf_token"
        value="{{ csrf_token() }}"
    >

    <input
        type="text"
        name="username"
        placeholder="ID"
        required
    >

    <input
        type="password"
        name="password"
        placeholder="パスワード"
        required
    >

    <button type="submit">
        ログイン
    </button>

</form>

</body>

</html>